In [1]:
import yfinance as yf

#percing data
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")

#reset index
tesla_data.reset_index(inplace=True)

#show first 5 data
print(tesla_data.head())

                       Date      Open      High       Low     Close  \
0 2010-06-29 00:00:00-04:00  1.266667  1.666667  1.169333  1.592667
1 2010-06-30 00:00:00-04:00  1.719333  2.028000  1.553333  1.588667
2 2010-07-01 00:00:00-04:00  1.666667  1.728000  1.351333  1.464000
3 2010-07-02 00:00:00-04:00  1.533333  1.540000  1.247333  1.280000
4 2010-07-06 00:00:00-04:00  1.333333  1.333333  1.055333  1.074000

      Volume  Dividends  Stock Splits
0  281494500        0.0           0.0
1  257806500        0.0           0.0
2  123282000        0.0           0.0
3   77097000        0.0           0.0
4  103003500        0.0           0.0

In [2]:
tesla_data.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
3618,2024-11-12 00:00:00-05:00,342.739990,345.839996,323.309998,328.489990,155726000,0.0,0.0
3619,2024-11-13 00:00:00-05:00,335.850006,344.600006,322.500000,330.239990,125405600,0.0,0.0
3620,2024-11-14 00:00:00-05:00,327.690002,329.980011,310.369995,311.179993,120726100,0.0,0.0
3621,2024-11-15 00:00:00-05:00,310.570007,324.679993,309.220001,320.720001,114128900,0.0,0.0
3622,2024-11-18 00:00:00-05:00,340.720001,348.549896,330.010010,338.739990,125171659,0.0,0.0